# Advent Of Code assets should not be redistributed
# Reference: https://adventofcode.com/2024/about
assets
!assets/.gitkeep

# Gleam
*.beam
*.ez
/build
erl_crash.dump

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
